body {
	background: url(/static/backgrounds/bg01.jpg) repeat-x #eab02b;
}

body, td {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.results {
	width: 250px;
	height: 100px;
}

.results_list_container {
	margin:0 auto;
	height: 153px;
}

.option {
	cursor: pointer;
}

#results_wrapper {
	margin:0 auto;
	overflow: auto;
	font-size: 14pt;
}

#close_list {
	margin: 5px 0 20px 0;
}

.input_text {
	font-size: 14pt;
}

.beer_type_dropdown {
	font-size: 16pt;
	height: 50px;
}

.list-group {
	max-height: 150px;
	overflow: auto;
}

button.select {
	margin-bottom: 10px;
}

#add_place_beer {
	margin-top:20px;
}

#enter_place {
	margin-bottom: 10px;
}

table td.title {
	font-size: 1.1em;
	padding-top: 25px !important;
}

table td.price {
	text-align: right;
}

table td.price span {
	font-size: .8em;
	color: #777;
	text-align: right;
}
