$def with ()

<!DOCTYPE html>

<html>
<head>
	<meta charset=”utf-8”>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Beer Me Up!</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="/static/style.css">
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-49495558-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-49501298-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>

	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
	  <div class="container">
		<div class="navbar-header">
		  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			<span class="glyphicon glyphicon-align-justify"></span>
		  </button>
		  <a href="../" class="navbar-brand">Beer Me Up!</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<!--
			<ul class="nav navbar-nav">
				<li>
					<a href="../customize">Customize</a>
				</li>
			</ul>
		  -->
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="javascript:;" id="switch_page"><span class="glyphicon glyphicon-plus-sign"></span> <span class="add-page">Add page</span></a></li>
			<li>
				<a href="javascript:;">
					<span>
						<div class="fb-like" data-href="https://www.facebook.com/pages/BeerMeUp/1406934259570737" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
					</span>
				</a>
			</li>
			<li><a href="mailto:beermeup.ro@gmail.com?Subject=Hello%20BeerMeUp!"><span class="glyphicon glyphicon-envelope"></span> <span>Email</span></a></li>			
		  </ul>
		</nav>
	  </div>
	</header>

	<div class="container">
		<div id="main_page" class="container" style="display: none">

			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<button id="select_city" class="select btn btn-default btn-lg btn-block">Select a city</button>
					<div id="search_page">
						<div>
							<button id="select_place" class="select btn btn-default btn-lg btn-block">Select a place</button>
						</div>
						<div>
							<button id="select_beer" class="select btn btn-default btn-lg btn-block">Select a beer</button>
						</div>
						<div class="radio-inline">
							<label>
							  <input type="radio" name="optionsRadios" id="optionsRadios1" value="all" checked> All
							</label>
						</div>
						<div class="radio-inline">
							<label>
							  <input type="radio" name="optionsRadios" id="optionsRadios2" value="bottle"> Bottle
							</label>
						</div>
						<div class="radio-inline">
							<label>
							  <input type="radio" name="optionsRadios" id="optionsRadios3" value="draught"> Draught
							</label>
						</div>
						<div style="margin-top: 20px;">
							<button id="submit_search" class="btn btn-success btn-lg btn-block">Beer me !</button>
						</div>
					</div>
					<div id="add_page" style="display: none">
						<input type="text" id="enter_place" class="form-control" placeholder='enter the place name' maxlength="30" />
						<input type="text" id="enter_beer" class="form-control" placeholder="enter the beer name" maxlength="30" />
							<select id="beer_type" class="form-control" style="margin-top: 10px; margin-bottom: 10px;">
								<option>Select beer type</option>
								<option>bottle-330ml</option>
								<option>bottle-500ml</option>
								<option>draught-200ml</option>
								<option>draught-250ml</option>
								<option>draught-300ml</option>
								<option>draught-400ml</option>
								<option>draught-1L</option>
								<option>draught-2L</option>
								<option>N/A</option>
							</select>
						<input type="text" id="enter_beer_price" class="form-control" placeholder="beer price (RON)" maxlength="3" />
							<button id="add_place_beer" class="btn btn-primary btn-block btn-lg">Add</button>
					</div>

					<div id="search_results" style="display: none">
					</div>
				</div>
			</div>

		</div>
	</div>

	<div id="first_welcome" style="display: none">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h1>Welcome to <b>BeerMeUp!</b></h1>
					<div>
						<p>If you have reached this page, we share common interests: <strong>beer</strong>!</p>
					</div>
					<div>
						<p><u>How it works:</u></p>
						<ol>
							<li>Click <strong>"Continue to site"</strong> on the bottom of this page, to skip this intro.</li>
							<li>Select a city</li>
							<li>Select a place <strong>and/or</strong> Select a beer</li>
							<li>Click <strong>"Beer me !"</strong></li>
							<li>Feast your eyes on all those options!</li>
						</ol>
						<p>Cheers !</p>
						<p>(<strong>beermeup.ro@gmail.com</strong>)</p>
					</div>
					<br/><br/>
					<div>
						<button id="close_welcome" class="btn btn-primary">Continue to site</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/main_en.js"></script>
</body>
</html>